html {
    max-width: 100%;
    background-color: #ebf7f8;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


}

body {    
    display: flex;
    flex-direction: column; 
    background-color: #ebf7f8;
}


