/* applies to medium devices (tablets, less than 1024px) */
@media (min-width: 768px) {
    body {
       max-width: 100%;
       width: 100%;
       overflow-x: hidden;
    }

    .banner img {
        width: 100%;
        border-radius: 5px;
        border: 1px solid white;
    }
    .navbar{
        div{
            a{
                img{
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}