@media (min-width: 0px) {
    .footer-img {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 768px) {
    .footer-img {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 992px) {
    .footer-img {
        width: 70px;
        height: 70px;        
    }
}

.footerLogo{
    position: relative;

}

.secondaryLogo{
position: absolute;
top: 0;
left: 0;
opacity: 0;
transition: opacity 0.5s;
}

.footerLogo:hover .secondaryLogo {
    opacity: 1;
}