@media (min-width: 0px) {
    .footer-img {
        width: 60px;
    }
}

@media (min-width: 768px) {
    .footer-img {
        width: 70px;
    }
}

@media (min-width: 992px) {
    .footer-img {
        width: 80px;
    }
}